.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 1000;
    background-color: rgb(172,148,244);
  }
  
  .logo-container .image {
    display: block;
    height: 100px;
    padding: 15px;
  }

  .image:hover {
    cursor: pointer;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { rotate: 0deg;}
    30% { rotate: 25deg;}
    60% { rotate: -25deg;}
    100% { rotate: 0deg;}
  }
  
  .search-bar .search-input {
    width: 600px;
    margin-left: 60px; 
    height: 30px;
    padding: 5px; 
    font-size: large;
    border: 2px solid black;
  }

  ::placeholder {
    color: rgb(172,148,244);
    opacity: 1;
  }

    input:focus::placeholder {
    opacity: 0;
  }

  .icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .cart-icon, .admin-icon {
    color: white;
    height: 50px;
    padding: 20px;
  }

    .cart-icon:hover, .admin-icon:hover {
        color: black;
    }