.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: white;
}

.center-container {
  margin-left: -100px;
  flex-grow: 1;
}

.up-container {
  position: flex-end;
  top: 0;
  left: 0;
  width: 100vw;
}

.botom-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
}